<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a></li>
        <% if (isAuth) { %>
            <li class="nav__item"><a href="/admin" class="<%= path === '/admin' ? 'active' : '' %>">Admin</a></li>
        <% } %>
    </ul>
    <ul class="nav__list">
        <li class="nav__item"><a href="/login" class="<%= path === '/login' ? 'active' : '' %>">Login</a></li>
        <li class="nav__item"><a href="/signup" class="<%= path === '/signup' ? 'active' : '' %>">Signup</a></li>
    </ul>
</nav>