<%- include('./includes/head') %> 
</head>
<body>
    <%- include('./includes/navigation') %> 
    <h1 class="title">Admin page</h1>
    <h2>Products</h2>
    <ul>
        <% if (products.length > 0) { %>
            <% products.map(p => { %>
                <li><%= p.title %> - <%= p.price %> NOK</li>
            <% })  %>
        <% } else { %>
            <li>No products yet...</li>
        <% } %> 
    </ul>
</body>
</html>